[submodule "services/moderation-service"]
	path = services/moderation-service
	url = https://github.com/m3ower/student-id-moderation-service.git
[submodule "services/discord-dms-service"]
	path = services/discord-dms-service
	url = https://github.com/m3ower/student-id-discord-dms-service.git
[submodule "services/university-record-service"]
	path = services/university-record-service
	url = https://github.com/CmMarin/student-id-university-record-service
[submodule "services/rules-service"]
	path = services/rules-service
	url = https://github.com/CmMarin/student-id-rules-service
[submodule "services/player-service"]
	path = services/player-service
	url = https://github.com/Vasiok11/student-id-player-service
[submodule "services/session-service"]
	path = services/session-service
	url = https://github.com/Vasiok11/student-id-session-service
